<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guest.mapper.GuestMapper">
    <insert id="AddGuest">
        insert into guest(id_card, name, contact)
        values (#{idCard}, #{userName}, #{phone})
    </insert>
    <update id="UpdateGuest">
        update guest.guest g left join guest.check_in as c on g.id_card = c.guest_id_card
        set g.contact = #{contact},
            c.room_id = #{roomId},
            c.state   = #{state},
            g.name    = #{name}
        where g.id_card = #{idCard}
    </update>
    <delete id="delAllSelection">
        delete from guest where id_card in
        <foreach collection="array" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>

    </delete>

    <select id="getByIdCard" parameterType="String" resultType="guest">
        select *
        from guest
        where id_card like "%"#{idCard}"%";
    </select>

    <select id="getByContact" parameterType="String" resultType="guest">
        select *
        from guest
        where contact like "%"#{contact}"%";
    </select>

    <select id="getByName" parameterType="String" resultType="guest">
        select *
        from guest
        where `name` like "%"#{name}"%";
    </select>
    <select id="getAllGuest" resultType="com.guest.pojo.vo.GetAllGuestVo">
        select *
        from guest
        left join check_in on guest.id_card = check_in.guest_id_card
        <where>
            <if test="idCard != null ">
                and guest.guest.id_card like CONCAT(CONCAT('%', #{idCard}),'%')
            </if>
            <if test="userName != null">
                and guest.guest.name like CONCAT(CONCAT('%', #{userName}),'%')
            </if>
            <if test="phone != null">
                and guest.guest.contact like CONCAT(CONCAT('%', #{phone}),'%')
            </if>
        </where>
    </select>

</mapper>
